<web-app>
        <servlet>
            <servlet-name>Servlethreg</servlet-name>
            <servlet-class>Hospitalreg</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Servlethreg</servlet-name>
            <url-pattern>/Servlethreg</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Servlet_h_login</servlet-name>
            <servlet-class>Hospitallogin</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Servlet_h_login</servlet-name>
            <url-pattern>/Servlet_h_login</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Servlet_h_pat</servlet-name>
            <servlet-class>Hospitaldetails</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Servlet_h_pat</servlet-name>
            <url-pattern>/Servlet_h_pat</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Servlet_state_login</servlet-name>
            <servlet-class>State_health_login</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Servlet_state_login</servlet-name>
            <url-pattern>/Servlet_state_login</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Servlet_details</servlet-name>
            <servlet-class>Applicant_details</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Servlet_details</servlet-name>
            <url-pattern>/Servlet_details</url-pattern>
        </servlet-mapping>
        <servlet>
		<servlet-name>Servlet_i_login</servlet-name>
		<servlet-class>Insurerlogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet_i_login</servlet-name>
	        <url-pattern>/Servlet_i_login</url-pattern>
	</servlet-mapping>
        <servlet>
            <servlet-name>Nominee_details</servlet-name>
            <servlet-class>Nominee_details</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Nominee_details</servlet-name>
            <url-pattern>/Nominee_details</url-pattern>
        </servlet-mapping>
        <servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Formreg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Insurance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Formlog</servlet-name>
		<servlet-class>Formlog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Formlog</servlet-name>
		<url-pattern>/Formlog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginNext</servlet-name>
		<servlet-class>LoginNext</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginNext</servlet-name>
	        <url-pattern>/LoginNext</url-pattern>
	</servlet-mapping>
</web-app>